<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid ">
        <h1 style="color: aliceblue ">Angular CRUD</h1>
        <div class="d-flex">
            <button class="btn btn-success" (click)="showAddButton()" data-bs-toggle="modal"
                data-bs-target="#exampleModal">Add Employee</button>
        </div>
    </div>
</nav>
<table class="table mt-3 justify-content-center">
    <thead>
        <tr>
            <td scope="col">Employee Id</td>
            <td scope="col">Firstname</td>
            <td scope="col">Lastname</td>
            <td scope="col">EmailId</td>
            <td scope="col">Mobileno</td>
            <td scope="col">Salary</td>
            <td scope="col">Action</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of employeeData">
            <td>{{row.id}}</td>
            <td>{{row.Firstname}}</td>
            <td>{{row.Lastname}}</td>
            <td>{{row.EmailId}}</td>
            <td>{{row.Mobilenumber}}</td>
            <td>{{row.Salary}}</td>
            <td>
                <button (click)="onEdit(row)" class="btn btn-info" class="btn btn-success" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">Edit</button>
                <button (click)="deleteEmployee(row)" class="btn btn-danger mx-3">Delete</button>
            </td>
        </tr>
    </tbody>
</table>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Employee Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formValue">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Firstname</label>
                        <input type="text" formControlName="Firstname" class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp">

                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Lastname</label>
                        <input type="text" formControlName="Lastname" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">EmailId</label>
                        <input type="email" formControlName="EmailId" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Mobileno</label>
                        <input type="text" formControlName="Mobilenumber" class="form-control"
                            id="exampleInputPassword1">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Salary</label>
                        <input type="text" formControlName="Salary" class="form-control" id="exampleInputPassword1">
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button *ngIf="isSuccessAdd" type="button" (click)="postEmployeeDetails()"
                    class="btn btn-primary">Add</button>
                <button *ngIf="isSuccessUpdate" type="button" (click)="updateEmployeeDetails()"
                    class="btn btn-primary">Update</button>
            </div>
        </div>
    </div>
</div>